.app {
	display: flex;
}
.app__main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.app__header {
	align-items: center;
	border-bottom: 1px solid #000000;
	display: flex;
	padding: 10px 22px;
}

.app__title {
	align-self: flex-start;
	flex: 1;
	font-weight: 300;
	margin: 15px 0;
}

.app__new-chart {
	flex: 1;
}

.app__active-chart {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 0 22px;
}
