.sidebar {
	background-color: #5D73A2;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	height: 100vh;
	padding: 22px;
	width: 190px;
}

.sidebar__title {
	border-bottom: 1px solid #ffffff;
	font-size: 24px;
	font-weight: 300;
	height: 38px;
	margin: 0;
}

.sidebar__past-charts {
	list-style-type: none;
	padding: 0;
}

.sidebar__past-chart {
	margin-top: 12px;
}

.sidebar__past-chart p {
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

.sidebar__chart-name:hover {
	cursor: pointer;
	text-decoration: underline;
}
